.image_processing_canvas_container{
    position: relative;

    width : 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    
    background-color: var(--secondary-color);/* Variable found in index.css */;
}


.image_processing_webgl {
    position : absolute;
    align-items: center;
    justify-content: center;
    /* background-color: white; */
    width: 100%;
    height: 100%;
}

#errorBox {
    color: red;
    font-weight : 500;
    font-size: 1rem;
    border : 1px solid white;
    padding : 1rem;
    margin-top: 1rem;
}