.image_processing_main {
    position: relative;
    background-color: var(--secondary-color);/* Variable found in index.css */;
    width: 100%;
    /* height: 10%; */

    /* Layout */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* Fills the remaining space of the container */
    flex-grow: 1; /* The root at App.css is using flex box */
}

.header{
    background-color: var(--color-black);

    /* Font styling */
    font-size: 1.0rem;
    font-weight: 700;

    /* alignment */
    display: flex;
    flex-direction: row;
    justify-content: start;

    /* margins and paddings */
    padding: 0.25rem 0.5rem;
}

