:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  --color-black : #222;
  --color-black-hover : rgba(143, 145, 153, 0.1);
  --color-black-2 : hsl(0, 0%, 20%);
  --primary-color : #769CDF;
  --secondary-color: #8991A2;
  --neutral-variant : hsl(228, 5%, 58%);
  --text-color:rgba(255, 255, 255, 0.87);
  --font-menu-btn-size : 1rem;
}

* {
  padding : 0;
  margin: 0;
  box-sizing: border-box;
  
}

html {
  height: 100%;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

body {
  position: relative;
  
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: pink;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

